# folders

# ignore everything except .gitignore and folders that I care about:
!data*
!.gitignore

# file extensions
*.nc
*.mat
*.xlsx

# system files
**/*.DS_Store
.DS_Store

# this is where you would store passwords for the servers etc.
# never never upload this!
.env
.vscode/settings.json
